#scoreboard {
    align-items: center;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    margin-top: 1vw;
}

#newGame {
    background-color: var(--color-button);
    border: 5px solid var(--color-button-border);
    border-radius: 5px;
    color: var(--color-button-text);
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.75em 0;
    min-width: 160px;
    padding: 0.5em;
    text-align: center;
    width: 15vw;
}

#newGame:hover {
    background-color: var(--color-button-border);
    box-shadow: 0 0 30px var(--color-button-hover-shadow);
    color: var(--color-button-hover-text);
}