#scoreboard {
    align-items: center;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    margin-top: 1vw;
}

.game-controls button {
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.75em;
    min-width: 166px;
    padding: 0.1em;
    text-align: center;
    width: 15vw;
    height: 2.5em;
}

.state-management button {
    width: 166px;
}

.newGame {
    background-color: var(--color-button);
    border: 5px solid var(--color-newGame-button);
    color: var(--color-button-text);
}

.newGame:hover {
    background-color: var(--color-newGame-button);
    box-shadow: 0 0 30px var(--color-newGame-button-shadow);
    color: var(--color-button-hover-text);
}

.stepBack {
    background-color: var(--color-button);
    border: 5px solid var(--color-stepBack-button);
    color: var(--color-button-text);
}

.stepBack:hover {
    background-color: var(--color-stepBack-button);
    box-shadow: 0 0 30px var(--color-stepBack-button-shadow);
    color: var(--color-button-hover-text);
}

.loadState {
    background-color: var(--color-button);
    border: 5px solid var(--color-loadState-button);
    color: var(--color-button-text);
}

.loadState:hover {
    background-color: var(--color-loadState-button);
    box-shadow: 0 0 30px var(--color-loadState-button-shadow);
    color: var(--color-button-hover-text);
}

.saveState {
    background-color: var(--color-button);
    border: 5px solid var(--color-saveState-button);
    color: var(--color-button-text);
}

.saveState:hover {
    background-color: var(--color-saveState-button);
    box-shadow: 0 0 30px var(--color-saveState-button-shadow);
    color: var(--color-button-hover-text);
}

button:disabled {
    background-color: var(--color-disabled-button);
    border: 5px solid var(--color-disabled-button-border);
    color: var(--color-button-text);
    box-shadow: none;
    cursor: not-allowed;
}