body {
    align-items: center;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

div {
    box-sizing: border-box;
}

.board {
    display: flex;
    flex-direction: column;
    margin: 1vw auto 0;
    outline: 5px solid var(--color-grid-line);
    width: var(--board-size);
}

.board .row {
    display: flex;
}

.game-controls {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.game-management {
    display: flex;
    gap: 3vw;
}

.state-management {
    display: flex;
    gap: 3vw;
}

