@import 'variables.css';

div {
    box-sizing: border-box;
}

.board {
    display: flex;
    flex-direction: column;
    margin: 5vw auto;
    outline: 1px solid var(--color-grid-line);
    width: var(--board-size);
}

.board .row {
    display: flex;
}

.board .field {
    border: 1px solid var(--color-grid-line);
    height: var(--field-size);
    width: var(--field-size);
}

.board .field:first-child {
    display: block;
}

.board .field .piece {
    border-radius: 50%;
    height: var(--piece-size);
    margin: var(--size-piece-margin);
    width: var(--piece-size);
}

.board .field .blue {
    background-color: var(--color-player-one);
}

.board .field .red {
    background-color: var(--color-player-two);
}