:root {
    /* Colors */
    --color-background: #101010;
    --color-grid-line: #BBBBBB;
    --color-player-one-dark: #1e70cc;
    --color-player-one-light: #4fa6f7;
    --color-player-two-dark: #cc5b0d;
    --color-player-two-light: #ffa64d;

    /* Number of rows */
    --number-rows: 7;

    /* Sizes */
    --board-size: 56vw;
    --field-size: calc(var(--board-size) / var(--number-rows));
    --piece-size: calc(var(--field-size) - 1.5vw);
    --size-piece-margin: calc((var(--field-size) - var(--piece-size)) / 2);
}