:root {
    /* Colors */
    --color-background: #101010;
    --color-grid-line: #BBBBBB;
    --color-player-one-dark: #1e70cc;
    --color-player-one-light: #4fa6f7;
    --color-player-two-dark: #cc5b0d;
    --color-player-two-light: #ffa64d;

    --color-button: transparent;
    --color-button-text: #BBBBBB;
    --color-button-hover-text: #101010;
    /* specific buttons */
    --color-newGame-button: #FF453A;
    --color-newGame-button-shadow: #FF453AAA;
    --color-stepBack-button: #FF9F0A;
    --color-stepBack-button-shadow: #FF9F0AAA;
    --color-loadState-button: #BF5AF2;
    --color-loadState-button-shadow: #BF5AF2AA;
    --color-saveState-button: #30D158;
    --color-saveState-button-shadow: #30D158AA;
    --color-disabled-button: #3A3A3C;
    --color-disabled-button-border: #6E6E73;


    /* Number of rows */
    --number-rows: 7;

    /* Sizes */
    --board-size: 40vw;
    --field-size: calc(var(--board-size) / var(--number-rows));
    --piece-size: calc(var(--field-size) - 2vh);
    --size-piece-margin: calc((var(--field-size) - var(--piece-size)) / 2);
}