:root {
    /* Colors */
    --color-background: #101010;
    --color-grid-line: #BBBBBB;
    --color-player-one-dark: #1e70cc;
    --color-player-one-light: #4fa6f7;
    --color-player-two-dark: #cc5b0d;
    --color-player-two-light: #ffa64d;

    --color-button: transparent;
    --color-button-border: #1e70cc;
    --color-button-text: #BBBBBB;
    --color-button-hover: #1e70cc;
    --color-button-hover-shadow: #4fa6f755;
    --color-button-hover-text: #101010;


    /* Number of rows */
    --number-rows: 7;

    /* Sizes */
    --board-size: 45vw;
    --field-size: calc(var(--board-size) / var(--number-rows));
    --piece-size: calc(var(--field-size) - 2vh);
    --size-piece-margin: calc((var(--field-size) - var(--piece-size)) / 2);
}